.vscode/
.idea/
CMakeLists.txt
cmake-build-debug/
._README.md
objs/
objs_bonus/
*.bmp
*.dylib
*.[doa]
*.swiftdoc
*.swiftmodule
*.swp
*.DS_Store
.fuse_hidden*
._*.png
vgcore.*
Makefile.gen
cub3D
cub3D_bonus
